{% extends 'base.html' %}

{% block content %}
<h1>Hola {{ current_user.firstname }}, welcome back!</h1>
<h2> Quizes Available For You</h2>
<div class="dashboard_quiz_container">
{% for quiz in quizes %}
<div class="dashboard_quiz">
<h4>{{ quiz.title }}</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><strong>Level: </strong>Basic</p>

<p><a href="{{ url_for('routes.take_quiz', quiz_id=quiz.id) }}">Take Quiz</a></p>

</div>
{% endfor %}
</div>
{% endblock %}